<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ANJICUSTOMS</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
  <header>
    <div class="logo">ANJICUSTOMS</div>
    <input type="text" id="searchBar" placeholder="Pesquisar produtos...">
  </header>

  <main>
    <section id="catalog">
      <!-- Produtos aqui -->
      <div class="product-card" data-name="Colar Lunar">
        <img src="/static/img/Lunar.png" alt="Colar Lunar">
        <h3>Colar Lunar</h3>
        <p>R$ 100,00</p>
        <a class="whatsapp-button" href="https://wa.me/5599999999999?text=Olá! Tenho interesse no Colar Lunar" target="_blank">Comprar pelo WhatsApp</a>
      </div>

      <div class="product-card" data-name="Piercing">
        <img src="/static/img/Piercing.png" alt="Piercing">
        <h3>Piercing</h3>
        <p>R$ 45,00</p>
        <a class="whatsapp-button" href="https://wa.me/5599999999999?text=Olá! Tenho interesse no Piercing" target="_blank">Comprar pelo WhatsApp</a>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 ANJICUSTOMS - Todos os direitos reservados</p>
  </footer>

  <script src="script.js"></script>
</body>

</html>